* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
  text-align: center;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
li p {
  margin: 10px 0;
  font-size: 1em;
  text-align: center;
  margin: 8px 0;
}

ul { list-style-type: none; padding: 0px 10px; }
li {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

li img {
  width: 100px;
  height: 135px;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 10px; /* เพื่อทำให้มุมรูปภาพมน ถ้าต้องการ */
}

li p {
  margin: 10px 0;
  font-size: 1em;
}
img {   width: 100px;
  height: 135px;
 }

 .menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 300px; /* You can adjust this value as per your needs */
  background-color: #f9f9f9; /* Optional: gives a background color to the cart */
  padding: 20px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1); /* Optional: adds a shadow for separation */
}
button {
  background-color: #4CAF50; /* สีพื้นหลังเขียว */
  color: white; /* สีตัวอักษร */
  padding: 10px 20px; /* การเว้นระยะภายใน */
  border: none; /* ไม่มีเส้นขอบ */
  border-radius: 5px; /* มุมโค้งมน */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปมือเมื่อ hover */
  font-size: 16px; /* ขนาดฟอนต์ */
  transition: background-color 0.3s ease; /* การเปลี่ยนแปลงสีแบบนุ่มนวล */
}
.del{
  background-color: #ff0000dc; /* สีพื้นหลังเขียว */
  color: white; /* สีตัวอักษร */
  padding: 10px 20px; /* การเว้นระยะภายใน */
  border: none; /* ไม่มีเส้นขอบ */
  border-radius: 5px; /* มุมโค้งมน */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปมือเมื่อ hover */
  font-size: 16px; /* ขนาดฟอนต์ */
  transition: background-color 0.3s ease; /* การเปลี่ยนแปลงสีแบบนุ่มนวล */
}
.qua{
  background-color: #0c0c0cdc; /* สีพื้นหลังเขียว */
  color: white; /* สีตัวอักษร */
  padding: 5px 10px; /* การเว้นระยะภายใน */
  border: none; /* ไม่มีเส้นขอบ */
  border-radius: 5px; /* มุมโค้งมน */
  cursor: pointer; /* เปลี่ยนเคอร์เซอร์เป็นรูปมือเมื่อ hover */
  font-size: 12px; /* ขนาดฟอนต์ */
  transition: background-color 0.3s ease; /* การเปลี่ยนแปลงสีแบบนุ่มนวล */
}
button:hover {
  background-color: #4e534e; /* เปลี่ยนสีเมื่อ hover */
}

button:active {
  background-color: #3e8e41; /* สีเมื่อคลิก */
}

button:disabled {
  background-color: #cccccc; /* สีเมื่อปุ่มถูกปิดการใช้งาน */
  cursor: not-allowed; /* เคอร์เซอร์เมื่อปิดการใช้งาน */
}

